[flake8]
max-line-length = 120
max-complexity = 10
ignore =
    # Whitespace before ':'
    E203
    # Line break occurred before a binary operator
    W503
exclude =
    # Directories to be ignored
    .github
    .git
    .idea
    .pytest_cache
    __pycache__
    env
    node_modules
    packer
    postman
    postgres-data
    redis-data
    resources
    terraform
    xunit_results
    # File types to be ignored
    *.css
    *.html
    *.in
    *.ini
    *.js
    *.json
    *.md
    *.pyc
    *.rdb
    *.sh
    *.sql
    *.tf
    *.toml
    *.txt
    *.xml
    *.yml
    *.zip
    # Files to ignore
    .coverage
    .dockerignore
    .flake8
    .gitignore
    .nvmrc
    Dockerfile
